---
layout: default
title: Accueil
cover: '/assets/images/bg-index.jpg'
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if site.logo %}
                <a class="blog-logo" href="{{ site.url }}{{ site.baseurl }}">
                    <img src="{{ site.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.url }}{{ site.base-url }}feed.xml">Feed</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %} <a href='{{ site.url }}{{ site.base-url }}{{ page.about }}'> À propos </a> {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }}
            <a class="read-more" href="{{ post.url }}">
                <svg width="26px" height="17px" viewBox="0 0 26 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g font-size="30" font-family="ZapfDingbatsITC, Zapf Dingbats" font-weight="normal">
                        <text id="➻" fill="#363636">
                            <tspan x="0" y="21">➻</tspan>
                        </text>
                    </g>
                </svg>
            </a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.jpg" alt="" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date: "%-d" }}
                {% assign m = post.date | date: "%-m" | minus: 1 %}
                {{ site.data.fr.months[m] }}
                {{ post.date | date: "%Y" }}
            </time> 
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: '&bull; ' }} 
            {% endif %}
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
